<a href="#{{component.name}}"><h1 class="name">{{component.name}}</h1></a>

<div class="content">
  <h2 class="label">{{component.label}}</h2>

  <div class="component-text-wrapper">
    <textarea name="{{component.name}}-text" class="component-text">{{lookup pitch component.name}}</textarea>
  </div>

  <p class="help animated expanded">
    <span class="help-text">{{component.help}}</span>
    <span class="help-text help-text-close">Got it...</span>
  </p>
</div>