<h1 class="name">{{component.name}}</h1>
<h2 class="label">{{component.label}}</h2>

<p class="help">{{component.help}}</p>

<textarea name="{{component.name}}-text">{{lookup pitch component.name}}</textarea>